/*------------------------------------------------------------
footer
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
footer{
	background: #f9f9f9;
	text-align: center;
	padding: 17px 0;
	@include sp{
		padding: 10px 0;
	}
	small{
		font-size: 1.4rem;
		color: #222;
		@include sp{
			font-size: 1rem;
		}
	}
}