/*------------------------------------------------------------
header
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
header {
	height: 50px;
	h1 {
		position: fixed;
		top: 10px;
		left: 15px;
		z-index: 6;
		font-size: 20px;
		font-weight: 900;
		font-family: sans-serif;
		text-transform: uppercase;
		> span {
			text-transform: none;
			opacity: .5;
			font-weight: 300;
			font-size: 12px;
		}
	}
	#burger{
		opacity: 0;
	}
	input + label {
		position: fixed;
		top: 0;
		right: 0;
		height: 50px;
		width: 50px;
		z-index: 5;
		border-left: 1px solid #e9e9e9;
		span {
			position: absolute;
			width: 20px;
			height: 3px;
			top: 50%;
			margin-top: -1px;
			left: 50%;
			display: block;
			background: #ffba00;
			transition: .5s;
			transform: translate(-50%, -50%);
		}
		span:first-child {
			top: 18px;
		}
		span:last-child {
			top: 32px;
		}
	}
	label:hover {
		cursor: pointer;
	}
	input:checked + label {
		span {
			opacity: 0;
			top: 50%;
			left: 30%;
		}
		span:first-child {
			opacity: 1;
			transform: rotate(405deg);
		}
		span:last-child {
			opacity: 1;
			transform: rotate(-405deg);
		}
	}
	input ~ nav {
		background: white;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 50px;
		z-index: 3;
		transition: .5s;
		transition-delay: .5s;
		overflow: hidden;
		border-bottom: 1px solid #e9e9e9;
		> ul {
			position: absolute;
			width: 100%;
			top: 50px;
			left: 0;
			background: rgba(239, 242, 244, 0.9);
			> li {
				opacity: 0;
				transition: .5s;
				transition-delay: 0s;
				border-top: 1px solid #ccc;
				&:last-child{
					border-bottom: 1px solid #ccc;
				}
				> a {
					text-decoration: none;
					text-transform: uppercase;
					color: #001f59;
					font-size: 1.4rem;
					font-weight: bold;
					display: block;
					padding: 15px;
					position: relative;
					&::after{
						content: '';
						position: absolute;
						border-style: solid;
						border-width: 10px 7px 0 7px;
						border-color: #ffba00 transparent transparent transparent;
						top: 50%;
						right: 15px;
						transform: translateX(-50%);
					}
				}
			}
		}
	}
	input:checked ~ nav {
		height: 100%;
		transition-delay: 0s;
		background: none;
		border-bottom: 0;
		> ul {
			> li {
				opacity: 1;
				transition-delay: .5s;
			}
		}
	}
}