/*==============================================
_index
==============================================*/
/*-------------------------------------------------------------
container
-------------------------------------------------------------*/
body{
	min-width: 1060px;
	@include sp{
		min-width: 320px;
	}
}
/*--------------------------------------------------------*/
.l-container{
	width: 1000px;
	margin: 0 auto;
	@include sp{
		width: 100%;
		padding: 0 15px;
	}
}
/*-------------------------------------------------------------
component
-------------------------------------------------------------*/
.c-title1{
	text-align: center;
	h3{
		font-size: 5.8rem;
		color: #001f59;
		@include sp{
			font-size: 2.7rem;
		}
	}
	img{
		margin-top: 25px;
		@include sp{
			margin-top: 11px;
		}
	}
}
/*-------------------------------------------------------*/
.c-title2{
	border-bottom: 2px solid #001f59;
	padding-bottom: 35px;
	@include sp{
		padding-bottom: 15px;
	}
	h3{
		font-size: 5.6rem;
		line-height: 6.8rem;
		color: #001f59;
		@include sp{
			font-size: 2.5rem;
			line-height: 2.5rem;
		}
	}
	img{
		margin-top: 30px;
		margin-left: 30px;
		@include sp{
			margin: 0 0 13px 0;
		}
	}
}
/*--------------------------------------------------------*/
.c-title3{
	p{
		font-size: 3rem;
		font-weight: bold;
		color: #001f59;
		@include sp{
			font-size: 1.5rem;
		}
	}
	span{
		color: #fccd2b;
	}
}
/*--------------------------------------------------------*/
.c-title4{
	h3{
		font-size: 4.3rem;
		color: #001f59;
		border-bottom: 2px solid #ccc;
		padding-bottom: 15px;
		@include sp{
			font-size: 1.8rem;
			padding-bottom: 10px;
		}
	}
}
/*--------------------------------------------------------*/
.c-title5{
	text-align: center;
	h3{
		font-size: 6.8rem;
		color: #001f59;
		padding-bottom: 27px;
		@include sp{
			font-size: 2.7rem;
			padding-bottom: 10px;
		}
	}
}
/*----------------------------------------------------------*/
.c-text1{
	font-size: 1.8rem;
	color: #000;
	margin-top: 15px;
	@include sp{
		font-size: 1.4rem;
	}
	span{
		color: #001f59;
	}
}
/*----------------------------------------------------------*/
.c-btn1{
	width: 690px;
	margin: 0 auto;
	text-align: center;
	@include sp{
		width: 290px;
	}
	a{
		width: 100%;
		border: 4px solid #0c2940;
		display: block;
		font-size: 3.4rem;
		text-decoration: none;
		color: #0c2940;
		background: #fff;
		height: 107px;
		line-height: 10.07rem;
		border-radius: 60px;
		font-weight: bold;
		position: relative;
		transition: 0.3s;
		@include sp{
			font-size: 1.6rem;
			height: 50px;
			line-height: 5rem;
			border: 2px solid #0c2940;
		}
		&::before{
			content: url(/assets/image/common/icon-06.png);
			position: absolute;
			top: 45%;
			left: 95px;
			transform: translateY(-50%);
			@include sp{
				content: url(/assets/image/common/icon-06sp.jpg);
				left: 25px;
			}
		}
		&::after{
			content: '';
			border-style: solid;
			border-width: 18px 10px 0 10px;
			border-color: #0c2940 transparent transparent transparent;
			position: absolute;
			top: 49%;
			right: 92px;
			transform: translateY(-50%);
			@include sp{
				border-width: 12px 7px 0 7px;
				right: 25px;
			}
		}
	}
}
/*---------------------------------------------------*/
.c-btn2{
	width: 350px;
	margin: 40px auto 0;
	@include sp{
		width: 290px;
		margin: 30px auto 0;
	}
	button{
		background: #0c2940;
		color: #fff;
		font-size: 2.4rem;
		font-weight: bold;
		border: 0;
		width: 100%;
		height: 70px;
		border-radius: 35px;
		cursor: pointer;
		position: relative;
		@include sp{
			font-size: 1.6rem;
			height: 40px;
			line-height: 4rem;
		}
		&::after{
			content: '';
			border-style: solid;
			border-width: 6px 0 6px 10px;
			border-color: transparent transparent transparent #fff;
			position: absolute;
			top: 50%;
			right: 30px;
			transform: translateY(-50%);
		}
	}
}
/*-------------------------------------------------------------
flame1
-------------------------------------------------------------*/
.l-flame1{
	text-align: center;
	padding: 68px 0 0;
	overflow: hidden;
	@include sp{
		padding: 60px 0 33px;
	}
	h2{
		font-size: 4rem;
		display: inline-block;
		border-bottom: 2px solid #ffba00;
		line-height: 6rem;
		margin-bottom: 45px;
		padding-bottom: 10px;
		@include sp{
			font-size: 1.5rem;
			line-height: 1.5rem;
			margin-bottom: 25px;
		}
	}
	p{
		font-size: 1.6rem;
		font-weight: bold;
		line-height: 3rem;
		@include sp{
			font-size: 1.4rem;
			line-height: 2.2rem;
		}
	}
	p span{
		font-size: 2.4rem;
		color: #001f59;
		line-height: 4rem;
		display: block;
		padding-bottom: 15px;
		@include sp{
			font-size: 1.4rem;
			line-height: 2.2rem;
			padding-bottom: 20px;
		}
	}
}
/*-------------------------------------------------------------
flame2
-------------------------------------------------------------*/
.l-flame2{
	background: url(/assets/image/common/bg1.png);
	padding: 212px 0 112px;
	position: relative;
	@include sp{
		padding: 55px 0;
	}
	&__bg{
		content: '';
		position: absolute;
		top: 0;
		left: 0%;
		border-style: solid;
		border-width: 100px 50vw 0 50vw;
		border-color: #fff transparent transparent transparent;
		background: #fdfae7 url(/assets/image/common/bg1.png);
		@include sp{
			border-width: 35px 50vw 0 50vw;
		}
	}
	.glass{
		background: url(/assets/image/common/bg2.png) no-repeat bottom;
		@include sp{
			background: none;
		}
	}
	.row1{
		/*margin-top: 125px;*/
		width: 1000px;
		margin: 125px auto 0;
		@include sp{
			width: 100%;
			margin: 30px 0 0;
		}
	}
	.row2{
		width: 1000px;
		margin: 100px auto 0;
		@include sp{
			width: 100%;
			margin: 40px 0 0;
		}
	}
	.row3{
		width: 1000px;
		margin: 105px auto 0;
		@include sp{
			width: 100%;
			margin: 40px 0 0;
		}
		.c-title2{
			padding-bottom: 39px;
			@include sp{
				padding-bottom: 15px;
			}
		}
	}
	.row4{
		width: 1000px;
		margin: 95px auto 0;
		@include sp{
			width: 100%;
			margin: 40px 0 0;
		}
	}
	&__form1{
		display: flex;
		@include sp{
			flex-direction: column;
		}
		.c-title2 {
			position: relative;
			h3{
				padding-left: 135px;
				@include sp{
					padding-left: 0;
				}
			}
			&::before{
				content: '';
				border-style: solid;
				border-width: 12px 18px 0 0;
				border-color: transparent #001f59 transparent transparent;
				position: absolute;
				bottom: 0;
				left: -4px;
				@include sp{
					display: none;
				}
			}
		}
		&__img{
			margin-top: 10px;
		}
		&__text{
			width: 570px;
			margin-left: -70px;
			@include sp{
				width: 100%;
				margin-left: 0;
				padding: 10px 15px 0;
			}
			p{
				font-size: 1.8rem;
				color: #000;
				padding-top: 35px;
				padding-left: 128px;
				@include sp{
					font-size: 1.4rem;
					padding-top: 15px;
					padding-left: 0;
				}
			}
			span{
				color: #001f59;
				font-weight: bold;
			}
		}
	}
	&__form2{
		display: flex;
		@include sp{
			flex-direction: column;
		}
		.c-title2 {
			position: relative;
			&::before{
				content: '';
				border-style: solid;
				border-width: 12px 0 0 18px;
				border-color: transparent transparent transparent #001f59;
				position: absolute;
				bottom: 0;
				right: -4px;
				@include sp{
					display: none;
				}
			}
			img{
				margin-top: 27px;
				margin-left: 37px;
				@include sp{
					margin: 0 0 13px 0;
				}
			}
		}
		&__img{
			margin-top: 10px;
			@include sp{
				order: 1;
				text-align: right;
			}
		}
		&__text{
			width: 570px;
			margin-right: -70px;
			@include sp{
				order: 2;
				width: 100%;
				margin-right: 0;
				padding: 0 15px;
			}
			p{
				font-size: 1.8rem;
				color: #000;
				padding-top: 35px;
				padding-right: 125px;
				@include sp{
					font-size: 1.4rem;
					padding-top: 15px;
					padding-right: 0;
				}
			}
			span{
				color: #001f59;
				font-weight: bold;
			}
		}
	}
}
/*-------------------------------------------------------------
flame3
-------------------------------------------------------------*/
.l-flame3{
	background: #ffd74e;
	padding: 60px 0;
	@include sp{
		padding: 20px 0;
	}
	.c-phone{
		width: 684px;
		display: flex;
		margin: 40px auto 0;
		@include sp{
			width: 100%;
			flex-direction: column;
			margin: 15px 0 0;
		}
		h4{
			font-size: 4rem;
			color: #0c2940;
			line-height: 4rem;
			margin-bottom: 12px;
			font-family: Noto Sans Japanese;
			@include sp{
				font-size: 1.7rem;
				margin-bottom: 0;
				line-height: 1.7rem;
				margin-left: 25px;
				padding-right: 22px;
			}
		}
		p{
			font-size: 2rem;
			color: #0c2940;
			font-weight: bold;
			font-family: Noto Sans Japanese;
			@include sp{
				font-size: 1.2rem;
				text-align: center;
				border-left: 1px solid #0c2940;
				line-height: 1.4rem;
				width: 104px;
				text-align: center;
			}
			span{
				@include sp{
					font-size: 0.9rem;
				}
			}
		}
		&__1{
			border-right: 2px solid #0c2940;
			width: 50%;
			padding: 10px 30px 10px 0;
			@include sp{
				width: 290px;
				border-right: 0;
				border: 2px solid #0c2940;
				display: flex;
				padding: 7px 0;
				align-items: center;
				background: #fff;
				border-radius: 30px;
				margin: 0 auto;
			}
		}
		&__2{
			padding-left: 30px;
			width: 50%;
			padding: 10px 0 10px 30px;
			@include sp{
				width: 290px;
				padding: 7px 0;
				border-right: 0;
				border: 2px solid #0c2940;
				display: flex;
				align-items: center;
				background: #fff;
				margin: 10px auto 0;
				border-radius: 30px;
			}
		}
	}
}
/*-------------------------------------------------------------
flame4
-------------------------------------------------------------*/
.l-flame4{
	background: url(/assets/image/common/bg3.png) no-repeat top;
	padding: 100px 0 120px;
	@include sp{
		background: url(/assets/image/common/bg3sp.png);
		padding: 40px 0 0;
	}
	.l-container{
		@include clear;
	}
	&__info{
		width: 625px;
		height: 370px;
		background: #fff;
		border: 8px solid #ccc;
		box-sizing: border-box;
		border-radius: 10px;
		padding: 48px 50px;
		position: relative;
		@include sp{
			width: 100%;
			margin-top: -15px;
			border: 4px solid #ccc;
			height: auto;
			padding: 16px;
		}
		&__img{
			text-align: center;
		}
	}
	&__01{
		margin-top: 176px;
		@include sp{
			margin-top: 70px;
		}
		@include sp{
			background: #fff6cd;
		}
		.l-flame4__info{
			float: right;
			&::after{
				content: url(/assets/image/common/icon-07.png);
				position: absolute;
				bottom: -71px;
				left: 50%;
				transform: translateX(-50%);
				@include sp{
					content: url(/assets/image/common/icon-07sp.png);
					bottom: -38px;
				}
			}
		}
		&__row1{
			background: url(/assets/image/common/img-06.png) no-repeat left;
			padding: 30px 0;
			@include sp{
				background: none;
				padding: 25px 0 0;
			}
			.l-flame4__info{
				&::before{
					content: url(/assets/image/common/title-01.png);
					position: absolute;
					top: -145px;
					right: 17px;
					@include sp{
						display: none;
					}
				}
			}
			.l-flame4__img{
				position: relative;
				&::before{
					content: url(/assets/image/common/title-01sp.png);
					position: absolute;
					top: -65px;
					left: 63%;
					transform: translateX(-50%);
				}
			}
		}
		&__row2{
			background: url(/assets/image/common/img-07.png) no-repeat left;
			padding: 30px 0;
			@include sp{
				background: none;
			}
		}
		&__row3{
			background: url(/assets/image/common/img-08.png) no-repeat left;
			padding: 30px 0;
			@include sp{
				background: none;
				padding: 0 0 30px;
			}
		}
		&__row4{
			background: url(/assets/image/common/img-09.png) no-repeat left;
			padding: 30px 0;
			@include sp{
				background: none;
				padding: 0 0 25px;
			}
			.l-flame4__info{
				&::after{
					content: url(/assets/image/common/icon-08.png);
					bottom: -120px;
					@include sp{
						content: url(/assets/image/common/icon-08sp.png);
					bottom: -53px;
					}
				}
			}
		}
	}
	&__02{
		margin-top: 185px;
		@include sp{
			background: #dfecf9;
			padding-bottom: 30px;
			margin-top: 60px;
		}
		&__row1{
			background: url(/assets/image/common/img-10.png) no-repeat right;
			padding: 30px 0;
			@include sp{
				background: none;
			}
			.l-flame4__info{
				&::before{
					content: url(/assets/image/common/title-02.png);
					position: absolute;
					top: -145px;
					right: 8px;
					@include sp{
						display: none;
					}
				}
				&::after{
					content: url(/assets/image/common/icon-09.png);
					position: absolute;
					bottom: -170px;
					left: 49%;
					transform: translateX(-50%);
					@include sp{
						content: url(/assets/image/common/icon-09sp.png);
						bottom: -38px;
					}
				}
			}
			.l-flame4__img{
				position: relative;
				&::before{
					content: url(/assets/image/common/title-02sp.png);
					position: absolute;
					top: -65px;
					left: 65%;
					transform: translateX(-50%);
				}
			}
		}
		&__row2{
			background: url(/assets/image/common/img-14.png) no-repeat right;
			margin-top: 129px;
			@include sp{
				background: none;
				margin-top: 15px;
			}
		}
		&__img{
			position: absolute;
			top: -32px;
			right: -370px;
			@include sp{
				right: -15px;
				top: 50px;
			}
		}
	}
	&__img{
		img{
			width: 100%;
		}
	}
}
/*-------------------------------------------------------------
flame5
-------------------------------------------------------------*/
.l-flame5{
	.video{
		width: 100%;
		background: url(/assets/image/common/img-12.png) no-repeat center;
		display: block;
		text-align: center;
		padding: 130px 0 129px;
		text-decoration: none;
		@include sp{
			background: url(/assets/image/common/img-12sp.png) no-repeat center;
			background-size: cover;
			padding: 30px 0;
		}
	}
	p{
		font-size: 2.4rem;
		color: #fff;
		padding-top: 7px;
		@include sp{
			font-size: 1.3rem;
		}
	}
	.action{
		width: 100px;
		height: 100px;
		background: #ffba00;
		display: block;
		margin: 33px auto 0;
		border-radius: 50%;
		position: relative;
		@include sp{
			width: 50px;
			height: 50px;
			margin: 15px auto 0;
		}
		&::after{
			content: '';
			border-style: solid;
			border-width: 20px 0 20px 30px;
			border-color: transparent transparent transparent #fff;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			position: absolute;
			@include sp{
				border-width: 10px 0 10px 15px;
			}
		}
		&:hover{
			background: #fff;
		}
		&:hover::after{
			border-color: transparent transparent transparent #ffba00;
		}
	}

	/*------videp popup--------------------*/
	.cd-popup {
		position: fixed;
		left: 0;
		top: 0;
		overflow: scroll;
		height: 100%;
		width: 100%;
		background-color: rgba(0, 0, 0, 0.5);
		opacity: 0;
		visibility: hidden;
		transition: opacity 0.3s 0s, visibility 0s 0.3s;
		z-index: 99;
		backface-visibility: hidden;
	}

	.cd-popup.is-visible {
		opacity: 1;
		visibility: visible;
		transition: opacity 0.3s 0s, visibility 0s 0s;
		z-index: 999999;
	}

	.cd-popup-container {
		position: relative;
		width: 90%;
		max-width: 1205px;
		height: 665px;
		padding: 45px;
		margin: 4em auto;
		top: calc(50% - 42%);
		background: #2f2c2c;
		box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
		transform: translateY(-40px);
		text-align: left;
		transition-property: transform;
		transition-property: transform, -webkit-transform;
		transition-duration: 0.3s;
		border: 11px solid #fccd2b;
		@include sp{
			height: 330px;
			border: 5px solid #fccd2b;
			top: calc(50% - 35%);
			width: 95%;
		}
	}

	.cd-popup-container .cd-popup-close {
		position: absolute;
		bottom: -180px;
		left: 50%;
		width: 65px;
		height: 65px;
		transform: translateX(-50%);
		color: #fff;
		font-size: 3.4rem;
		@include sp{
			font-size: 1.6rem;
			bottom: -120px
		}
	}

	.cd-popup-container .cd-popup-close::before, .cd-popup-container .cd-popup-close::after {
		content: '';
		position: absolute;
		top: -40px;
		width: 65px;
		height: 8px;
		background-color: #fff;
		@include sp{
			width: 32px;
			height: 4px;
			top: -20px;
		}
	}

	.cd-popup-container .cd-popup-close::before {
		-webkit-transform: rotate(45deg);
		transform: rotate(45deg);
		left: 28px;
		@include sp{
			left: 12px;
		}
	}

	.cd-popup-container .cd-popup-close::after {
		-webkit-transform: rotate(-45deg);
		transform: rotate(-45deg);
		right: -27px;
		@include sp{
			right: 22px;
		}
	}
}
/*-------------------------------------------------------------
flame6
-------------------------------------------------------------*/
.l-flame6{
	padding: 80px 0 173px;
	background: #fefae8;
	@include sp{
		padding: 40px 0 60px;
	}
	.slider{
		width: 1000px;
		margin: 77px auto 0;
		@include sp{
			width: 100%;
			margin: 30px auto 0;
		}
		&__row{
			width: 100%;
			border: 8px solid #ececec;
			border-radius: 10px;
			padding: 45px 50px 53px;
			background: #fff;
			@include sp{
				padding: 15px;
				margin: 0 5px;
				border: 4px solid #ececec;
			}
		}
		&__title{
			text-align: center;
			p{
				font-size: 2rem;
				font-weight: bold;
				color: #ffa800;
				@include sp{
					font-size: 1.2rem;
				}
			}
			span{
				color: #001f59;
			}
			h4{
				font-size: 3rem;
				color: #001f59;
				padding-top: 4px;
				@include sp{
					font-size: 1.4rem;
					padding-top: 0;
				}
			}
		}
		&__content{
			display: flex;
			justify-content: space-between;
			margin-top: 27px;
			@include sp{
				flex-direction: column;
				margin-top: 15px;
			}
		}
		&__text{
			width: 50%;
			@include sp{
				order: 2;
				width: 100%;
			}
			p{
				font-size: 1.8rem;
				margin-bottom: 31px;
				@include sp{
					font-size: 1.4rem;
					margin-bottom: 0;
				}
			}
			ul{
				font-size: 0;
				letter-spacing: -1em;
				margin-top: 5px;
				@include sp{
					margin-top: 15px;
				}
				li{
					font-size: 1.6rem;
					letter-spacing: 0;
					line-height: 1.6rem;
					display: inline-block;
					border-right: 1px solid #333;
					padding-right: 32px;
					&:last-child{
						border-right: 0;
						padding-right: 0;
						padding-left: 32px;
					}
				}
			}
		}
		&__img{
			margin-top: 6px;
			margin-right: 5px;
			@include sp{
				margin-bottom: 15px;
			}
			img{
				@include sp{
					width: 100%;
					margin-right: 0;
				}
			}
		}
		.pre{
			position: absolute;
			top: 50%;
			left: -35px;
			transform: translateY(-50%);
			z-index: 9;
			@include sp{
				left: 5px;
			}
		}
		.next{
			position: absolute;
			top: 50%;
			right: -30px;
			transform: translateY(-50%);
			@include sp{
				right: 5px;
			}
		}
		.slick-dots {
			bottom: -65px;
			left: 0;
			@include sp{
				bottom: -30px;
			}
			li {
				margin: 0 12px;
				button{
					&::before{
						font-size: 3.5rem;
						color: #ffba00;
					}
				}
			}
		}
	}
}
/*-------------------------------------------------------------
flame7
-------------------------------------------------------------*/
.l-flame7{
	padding: 50px 0 119px;
	@include sp{
		padding: 40px 0;
	}
	.table{
		width: 100%;
		display: table;
		table-layout: fixed;
		margin-top: 75px;
		@include sp{
			display: block;
			margin-top: 30px;
		}
		dl{
			display: table;
			width: 100%;
			table-layout: fixed;
			padding: 25px 0;
			border-top: 1px solid #ccc;
			@include sp{
				display: block;
				padding: 15px 0;
			}
			&:last-child{
				border-bottom: 1px solid #ccc;
			}
		}
		dt, dd{
			display: table-cell;
			vertical-align: middle;
			@include sp{
				display: block;
			}
		}
		dt{
			font-size: 2rem;
			color: #001f59;
			font-weight: bold;
			width: 280px;
			padding-left: 27px;
			@include sp{
				width: 100%;
				padding-left: 0;
				font-size: 1.4rem;
			}
		}
		dd{
			font-size: 1.8rem;
			@include sp{
				font-size: 1.4rem;
			}
			a{
				color: #ffa800;
			}
		}
	}
}
/*-------------------------------------------------------------
flame8
-------------------------------------------------------------*/
.l-flame8{
	padding: 92px 0 100px;
	@include sp{
		padding: 40px 0 26px;
	}
	iframe {
		width: 50%;
		height: 450px;
		@include sp{
			width: 100%;
			height: auto;
		}
	}
	&__map1{
		width: 100%;
		display: flex;
		margin-top: 77px;
		@include sp{
			flex-direction: column;
			margin-top: 30px;
		}
		.l-flame8__table{
			@include sp{
				border-bottom: 1px solid #ccc;
				padding-bottom: 16px;
			}
		}
	}
	&__map2{
		width: 100%;
		display: flex;
		justify-content: flex-end;
		margin-top: 60px;
		@include sp{
			flex-direction: column;
			margin-top: 30px;
		}
		.l-flame8__title h4{
			padding-left: 0;
			@include sp{
				padding-left: 15px;
			}
		}
		.l-flame8__table dt{
			padding-left: 0;
			width: 130px;
		}
		.l-flame8__info{
			@include sp{
				order: 2;
			}
		}
	}
	&__info{
		width: 500px;
		margin-top: 48px;
		@include sp{
			width: 100%;
			padding: 0 15px;
			margin-top: 15px;
		}
	}
	&__title{
		h4{
			font-size: 4rem;
			color: #001f59;
			border-bottom: 2px solid #ccc;
			padding-bottom: 20px;
			padding-left: 53px;
			@include sp{
				font-size: 2rem;
				padding-left: 15px;
				border-bottom: 0;
				padding-bottom: 15px;
				line-height: 2rem;
			}
		}
	}
	&__table{
		width: 100%;
		display: table;
		table-layout: fixed;
		margin-top: 25px;
		@include sp{
			display: block;
			margin-top: 0;
		}
		dl{
			display: table;
			width: 100%;
			table-layout: fixed;
			margin-bottom: 28px;
			@include sp{
				display: block;
				margin-bottom: 14px;
			}
		}
		dt, dd{
			display: table-cell;
			vertical-align: middle;
			@include sp{
				display: block;
			}
		}
		dt{
			font-size: 1.8rem;
			color: #001f59;
			font-weight: bold;
			width: 182px;
			padding-left: 60px;
			@include sp{
				padding-left: 0;
				font-size: 1.4rem;
			}
			p{
				position: relative;
				padding-left: 18px;
				@include sp{
					padding-left: 15px;
				}
				&::before{
					position: absolute;
					width: 10px;
					height: 3px;
					background: #ffa800;
					content: '';
					top: 50%;
					left: 0;
					transform: translateY(-50%);
				}
			}
		}
		dd{
			font-size: 1.8rem;
			@include sp{
				font-size: 1.4rem;
				padding-left: 15px;
			}
		}
	}
}
/*-------------------------------------------------------------
flame9
-------------------------------------------------------------*/
.l-flame9{
	background: #fffbe9;
	padding: 92px 0 120px;
	@include sp{
		padding: 40px 0;
	}
	.c-title5{
		h3{
			font-size: 7.6rem;
			@include sp{
				font-size: 3.2rem;
			}
		}
		span{
			font-size: 5.6rem;
			@include sp{
				font-size: 2.3rem;
			}
		}
	}
	&__info{
		margin-top: 78px;
		@include sp{
			margin-top: 25px;
		}
		.text1{
			font-size: 2rem;
			color: #001f59;
			position: relative;
			padding-left: 75px;
			padding-bottom: 36px;
			border-bottom: 1px solid #ccc;
			font-weight: bold;
			@include sp{
				font-size: 1.4rem;
				padding-left: 35px;
				padding-bottom: 10px;
			}
			&--color{
				color: #000;
				padding-bottom: 0;
				margin-top: 32px;
				border-bottom: 0;
				font-size: 1.8rem;
				font-weight: normal;
				@include sp{
					font-size: 1.4rem;
					margin-top: 10px;
				}
			}
			img{
				position: absolute;
				left: 0;
				top: 0;
				@include sp{
					top: 4px;
				}
			}
		}
	}
	&__row{
		border: 8px solid #ececec;
		padding: 50px;
		border-radius: 10px;
		margin-bottom: 42px;
		background: #fff;
		@include sp{
			padding: 12px 17px;
			border: 4px solid #ececec;
			margin-bottom: 10px;
		}
		&:last-child{
			margin-bottom: 0;
		}
	}
}
/*-------------------------------------------------------------
flame10
-------------------------------------------------------------*/
.l-flame10{
	padding: 88px 0 120px;
	@include sp{
		padding:  40px 0;
	}
	&__title{
		text-align: center;
		h3{
			font-size: 4.8rem;
			color: #001f59;
			padding-bottom: 27px;
			@include sp{
				font-size: 2.2rem;
				padding-bottom: 10px;
			}
		}
	}
	.table{
		display: table;
		table-layout: fixed;
		border-collapse: collapse;
		margin-top: 80px;
		@include sp{
			margin-top: 30px;
		}
		dl{
			display: table;
			width: 100%;
			table-layout: fixed;
			border-top: 1px solid #ccc;
			&:last-child{
				border-bottom: 1px solid #ccc;
				@include sp{
					display: block;
					padding-bottom: 15px;
				}
				dt{
					@include sp{
						display: block;
					}
				}
				dd{
					@include sp{
						display: block;
						width: 100%;
						padding: 0;
					}
				}
			}
		}
		dt{
			display: table-cell;
			vertical-align: middle;
			background: #f9f9f9;
			width: 290px;
			padding: 0 30px 0 28px;
			@include sp{
				width: 110px;
				background: #fff;
				padding: 15px 0;
			}
			.title{
				display: flex;
				justify-content: space-between;
				@include sp{
					flex-direction: column;
				}
			}
			h6{
				font-size: 1.8rem;
				color: #143f66;
				line-height: 1.8rem;
				@include sp{
					font-size: 1.3rem;
				}
			}
			p{
				font-size: 1.2rem;
				color: #fff;
				background: #ffa800;
				display: inline-block;
				width: 36px;
				text-align: center;
				height: 20px;
				line-height: 2rem;
				@include sp{
					margin-top: 5px;
					font-size: 0.9rem;
					height: 14px;
					line-height: 1.4rem;
					width: 28px;
				}
			}
		}
		dd{
			display: table-cell;
			vertical-align: middle;
			padding: 21px 29px;
			@include sp{
				padding: 15px 0;
			}
			input{
				height: 30px;
				width: 400px;
				border: 1px solid #bbb;
				color: #000;
				font-size: 1.6rem;
				padding-left: 10px;
				box-sizing: border-box;
				@include sp{
					width: 100%;
					height: 25px;
					font-size: 1.3rem;
				}
				&.is-error{
					background: #ffe3e3;
				}
			}
			::placeholder {
				color: #757575;
				opacity: 1;
			}
		}
		.null{
			p{
				background: #ccc;
			}
		}
		.radio{
			label{
				font-size: 1.8rem;
				margin-right: 20px;
				@include sp{
					font-size: 1.3rem;
					margin-right: 10px;
				}
			}
			input[type=radio] {
				appearance: none;
				position: relative;
				right: 0;
				bottom: 4px;
				left: 0;
				height: 14px;
				width: 14px;
				vertical-align: -0.8rem;
				transition:all .15s ease-out 0s;
				color: #fff;
				cursor: pointer;
				display: inline-block;
				margin: .4rem;
				outline: none;
				border-radius: 10%;
				@include sp{
					bottom: 2px;
				}
			}

			input[type=radio] {
				border-radius: 50%;
			}

			input[type=radio]:checked:before {
				transform: scale(1);
			}

			input[type=radio]:before {
				content: "";
				display: block;
				width: 8px;
				height: 8px;
				border-radius: 50%;
				margin: 2px -8px;
				transform: scale(0);
				transition: all ease-out 250ms;
			}
			input[type=radio] {
				border: 1px solid #cbcbcb;
			}

			input[type=radio]:checked:before {
				background: #ffa800;
			}
		}
		.date{
			display: inline-block;
			margin-right: 10px;
			@include sp{
				margin-right: 2px;
			}
			select{
				width: 60px;
				height: 30px;
				padding-left: 7px;
				box-sizing: border-box;
				@include sp{
					height: 25px;
					width: 50px;
				}
			}
			select[name=year]{
				width: 65px;
			}
		}
		.u-width50{
			width: 50px;
		}
		textarea{
			width: 100%;
			height: 96px;
			padding: 12px;
			font-size: 1.8rem;
			color: #000;
			box-sizing: border-box;
			@include sp{
				font-size: 1.3rem;
				padding: 10px;
				height: 90px;
			}
		}
		.u-margin{
			margin-left: 0;
			margin-right: 25px;
			@include sp{
				display: block;
			}
		}
		span{
			font-size: 1.8rem;
			margin-left: 10px;
			@include sp{
				font-size: 1.3rem;
				margin-left: 5px;
			}
		}
	}
	.error{
		display: block;
		color: #ff5353;
		font-size: 1.4rem;
		line-height: 2.8rem;
		margin-left: 8px;
		@include sp{
			font-size: 1rem !important;
			margin-left: 0;
		}
	}
}
/*-----------------------------------------------
-----------------------------------------------*/
#fp-nav ul li {
	&:last-child{
		a span{
			&::after{
				display: none;
			}
		}
	}
	a span{
		position: relative;
		&::after{
			content: '';
			position: absolute;
			width: 2px;
			height: 28px;
			background: #dedbcb;
			bottom: -28px;
			right: 4px;
			z-index: -1;
		}
	}
}
#fp-nav ul li .fp-tooltip{
	opacity: 1 !important;
	width: auto!important;
	color: #ccc!important;
	font-weight: bold;
}
#fp-nav.fp-show-active a.active + .fp-tooltip{
	color: #001f59 !important;
}
/*--------------------------------------------------
confirm
--------------------------------------------------*/
.header_cf{
	border-top: 8px solid #ffa800;
	border-bottom: 2px solid #ccc;
	text-align: center;
	position: relative;
	padding: 20px 0;
	@include sp{
		padding: 10px 0;
		border-top: 2px solid #ffa800;
	}
	h1{
		position: absolute;
		top: 20px;
		left: 40px;
	}
	h2{
		font-size: 3.4rem;
		color: #001f59;
		@include sp{
			font-size: 1.8rem;
		}
	}
}
.l-wapp{
	.l-wapp1{
		text-align: center;
		img{
			padding: 60px 0 80px;
			@include sp{
				padding: 30px 0 40px;
			}
		}
		p{
			font-size: 2.4rem;
			color: #001f59;
			font-weight: bold;
			@include sp{
				font-size: 1.4rem;
				text-align: left;
			}
		}
	}
	.l-wapp2{
		margin-top: 60px;
		text-align: center;
	}
	.l-flame10{
		padding: 0;
	}
	.table{
		margin-top: 30px;
		border-top: 1px solid #ccc;
		border-bottom: 1px solid #ccc;
		dl{
			border-top: 0;
			@include sp{
				border-bottom: 1px solid #ccc;
			}
			&:last-child{
				border-bottom: 0;
			}
		}
		dt{
			background: #fff;
			width: 320px;
			@include sp{
				width: 110px;
			}
		}
		dd{
			font-size: 1.8rem;
			padding: 15px 0;
			@include sp{
				font-size: 1.3rem;
			}
		}
	}
	.c-btn_cf{
		margin: 40px 0 80px;
		text-align: center;
		@include sp{
			margin: 30px 0 40px;
		}
		.submit_cf1{
			width: 360px;
			height: 70px;
			line-height: 7rem;
			border: 2px solid #0c2940;
			border-radius: 40px;
			color: #0c2940;
			font-size: 2.4rem;
			font-weight: bold;
			background: #fff;
			box-sizing: border-box;
			position: relative;
			cursor: pointer;
			@include sp{
				width: 290px;
				font-size: 1.6rem;
				display: block;
				margin: 0 auto;
				height: 40px;
				line-height: 4rem;
			}
			&::before{
				content: '';
				border-style: solid;
				border-width: 7px 12px 7px 0;
				border-color: transparent #0c2940 transparent transparent;
				position: absolute;
				top: 50%;
				left: 35px;
				transform: translateY(-50%);
				@include sp{
					border-width: 5px 10px 5px 0;
				}
			}
		}
		.submit_cf2{
			width: 360px;
			height: 70px;
			line-height: 7rem;
			background: #0c2940;
			border-radius: 40px;
			color: #fff;
			font-size: 2.4rem;
			font-weight: bold;
			position: relative;
			border: 0;
			margin-left: 70px;
			cursor: pointer;
			@include sp{
				width: 290px;
				font-size: 1.6rem;
				display: block;
				margin: 15px auto 0;
				height: 40px;
				line-height: 4rem;
			}
			&::after{
				content: '';
				border-style: solid;
				border-width: 7px 0 7px 12px;
				border-color: transparent transparent transparent #fff;
				position: absolute;
				top: 50%;
				right: 35px;
				transform: translateY(-50%);
				@include sp{
					border-width: 5px 0 5px 10px;
				}
			}
		}
	}
	&__cont{
		text-align: center;
		margin-top: 140px;
		@include sp{
			margin-top: 40px;
		}
		h6{
			font-size: 4rem;
			font-weight: bold;
			color: #001f59;
			margin-bottom: 60px;
			@include sp{
				font-size: 1.4rem;
				margin-bottom: 30px;
			}
		}
		p{
			font-size: 1.8rem;
			margin-bottom: 40px;
			@include sp{
				font-size: 1.4rem;
				margin-bottom: 25px;
			}
			&:last-child{
				margin-bottom: 0;
			}
		}
	}
	.btn-down{
		width: 500px;
		margin: 80px auto 200px;
		@include sp{
			width: 290px;
			margin: 30px auto 40px;
		}
		a{
			width: 100%;
			background: #0c2940;
			display: block;
			height: 70px;
			line-height: 7rem;
			text-align: center;
			font-size: 2.4rem;
			font-weight: bold;
			color: #fff;
			border-radius: 40px;
			text-decoration: none;
			position: relative;
			@include sp{
				font-size: 1.6rem;
				height: 40px;
				line-height: 4rem;
			}
			&::before{
				content: '';
				border-style: solid;
				border-width: 7px 12px 7px 0;
				border-color: transparent #fff transparent transparent;
				position: absolute;
				top: 50%;
				left: 35px;
				transform: translateY(-50%);
				@include sp{
					border-width: 5px 10px 5px 0;
					left: 17px;
				}
			}
			span{
				@include sp{
					padding-left: 20px;
				}
			}
		}
	}
}
/*--------------------------------------------*/