/*------------------------------------------------------------
other
------------------------------------------------------------*/

/* mainvisual
------------------------------------------------------------*/
.c-mainvisual{
	border-top: 5px solid #ffba00;
	background-image: url(/assets/image/common/background-01.png);
	padding: 40px 0 38px;
	background-size: cover;
	background-repeat: no-repeat;
    background-position: center;
    @include sp{
    	padding: 35px 0 70px;
    	position: relative;
    	border-top: 0;
    }
	h1{
		margin-left: 30px;
	}
	&__cont{
		text-align: center;
		margin-top: -14px;
		@include sp{
			margin-top: 0;
		}
	}
	&__btn{
		@include clear;
		margin-top: -40px;
		@include sp{
			margin-top: 0;
			position: absolute;
			right: 0;
			bottom: -25px;
		}
		a{
			font-size: 3rem;
			text-decoration: none;
			font-weight: bold;
			color: #0c2940;
			background: #fff;
			border-top: 6px solid #ffba00;
			border-left: 6px solid #ffba00;
			border-bottom: 6px solid #ffba00;
			float: right;
			height: 88px;
			line-height: 8.8rem;
			width: 515px;
			text-align: center;
			border-radius: 50px 0px 0px 50px;
			@include sp{
				font-size: 1.6rem;
				height: 50px;
				line-height: 5rem;
				border-top: 3px solid #ffba00;
				border-left: 3px solid #ffba00;
				border-bottom: 3px solid #ffba00;
				width: 305px;
				float: none;
				display: block;
			}
		}
		span{
			position: relative;
			padding-right: 25px;
			&::after{
				content: '';
				border-style: solid;
				border-width: 15px 10px 0 10px;
				border-color: #0c2940 transparent transparent transparent;
				position: absolute;
				top: 50%;
				right: -11px;
				transform: translateY(-50%);
				@include sp{
					border-width: 12px 7px 0 7px;
				}
			}
		}
	}
}